@use "../../sass/variables" as v;
@import "../../sass/mixins";

.projects {
  @include flex(column, center, center);
  min-height: 50vh;
  padding: 1rem;
  gap: 1rem;
  background-color: v.$bg2-color;
}
