@use "../../sass/variables" as v;

.projects {
  height: 50vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: v.$bg2-color;
}
