@use "../sass/variables" as v;

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $background-color: v.$bg1-color,
  $color: v.$text-color
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  color: $color;
  background-color: $background-color;
}
