// $bg1-color: #3a2c38;
$bg1-color: #4e3b4b;
$bg2-color: #343141; // #1e1b2ce6
// $bg3-color: #3e3935;
$card-color: #d9d0de;

$text-color: #eaeaea;
$text-color2: rgba(30, 27, 44, 0.9);

$text-shadow: -3px 3px 3px rgba(159, 159, 159, 0.5);
$box-shadow: -3px 10px 45px -7px rgba(24, 24, 24, 0.68);

$link-hover-color: #900862;
