$bg1-color: #3a2c38;
$bg2-color: #574254;
$bg3-color: #3e3935;
$box-color: #d9d0de;

$text-color2: #fdfdfd;
$text-color: #eaeaea;
$text-shadow: -3px 3px 3px rgba(159, 159, 159, 0.5);
$box-shadow: -3px 10px 45px -7px rgba(24, 24, 24, 0.68);
$page-border: 1rem solid rgba(87, 66, 84, 0.5);

$link-color: #373f51;
$link-hover-color: #900862;
