@use "../../sass/variables" as v;
@import "../../sass//mixins";

.hero {
  @include flex(column);
  margin: 0 auto;
  height: 100vh;
  width: auto;
  background-image: url(../../assets/cloud-hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_box {
   min-width: 300px;
    max-width: 400px;
  }

  .flip {
    display: inline-block;
    transform: rotate(180deg);
    text-align: right;
  }

  .name,
  .subtitle {
    padding-left: 1rem;
  }

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: v.$box-shadow;
  }
}

@media (min-width: 577px) {
  .hero_box {
    width: 500px;
  }
}

// @media (min-width: 769px) {
// }

@media (min-width: 1081px) {
  .hero {
    @include flex(row);
  }
  .text_box {
    @include flex(column, center, center);
  }
}
