@use "../../sass/variables" as v;
@import "../../sass//mixins";

.about {
  @include flex(column, center, center, v.$bg2-color, v.$text-color);
  min-height: 75vh;
  gap: 1rem;
  padding: 2rem;

  .about_box {
    @include flex(column, center, center, v.$bg2-color, v.$text-color);
    gap: 0.5rem;
  }
  img {
    width: 80%;
    opacity: 0.5;
    border-radius: 50%;
    border: 5px solid transparent;
  }
}
