@use "../../sass/variables" as v;
@import "../../sass//mixins";

.about {
  @include flex(column, center, center, v.$bg2-color);
  min-height: 75vh;
  gap: 1rem;
  padding: 2.5rem;
}
.wrapper {
  @include flex(column, stretch);
  gap: 1rem;
  background: transparent;
  }

.box {
    @include flex(column);
    flex: 1;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 12px; 

  }
.card {
  @include flex(column);
    padding: 16px;
    gap: 0.5rem;
    flex: 1;
    padding: 16px; 
    backdrop-filter: blur(4px);
    background: transparent;

}

.para {
    padding: .75rem;
    line-height: 1.5;
    }
  img {
    max-width: 500px;
    width: 60%;
    height: auto;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 45px 20px v.$bg1-color;
    // filter: blur(.5px); /* Adjust the pixel value for blur intensity */
  }

@media (min-width: 577px) {
  .about {
    gap: 2rem;
  }
}

@media (min-width: 769px) {
  .about {
    padding: 5rem;
    gap: 2rem;
  }
}

@media (min-width: 1081px) {
  .wrapper {
    @include flex(row);
    background: transparent;
  }
}
