@use "../../sass/variables" as v;

.heading {
  text-shadow: v.$text-shadow;
}

.h1 {
  font-size: 2.25rem;
}
.h2 {
  font-size: 1.75rem;
}
.h3 {
  font-size: 1rem;
}
.para {
  font-size: 0.85rem;
}

@media (min-width: 577px) {
  .h1 {
    font-size: 3.25rem;
  }
  .h2 {
    font-size: 2.75rem;
  }
  .h3 {
    font-size: 1.5rem;
  }
  .para {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .h1 {
    font-size: 4rem;
  }
  .h2 {
    font-size: 3.5rem;
  }
  .h3 {
    font-size: 2rem;
  }
  .para {
    font-size: 1.25rem;
  }
}

@media (min-width: 1081px) {
  .h1 {
    font-size: 4rem;
  }
  .h2 {
    font-size: 3.5rem;
  }
  .h3 {
    font-size: 1.75rem;
  }
}
