@use "../../sass/variables" as v;

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  padding: 1rem;
  gap: 1rem;
  background-color: v.$link-color;

  .skills_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skill {
    padding: 0.5rem;
    font-size: 3rem;
  }
  .heading {
    padding: 0 2rem;
  }
}
